

<div style="width:300px;margin-left:10px;">
  <div class="form-group">
      <label for="code"> code</label>{{movie.code}}<br>
      <label for="Movie Name"> movie Name</label>{{movie.moviename}}<br>
      <label for="ralease_date">ralease_date</label>{{movie.ralease_date}}<br>
      <label for="rating">rating</label>{{movie.rating}}<br>
      <label for="language">language</label>{{movie.language}}<br>
      
      
      
      
</div>
<input type="button" value="Go Back"[routerLink]="['/Home']"/>
